* {
    margin: 0;
    padding: 0;
}

.itens{
    display: flex;
    align-items: center;
   

}

.icone{
    height: 35px;
    margin-right: 10px;
}

.itens h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

header{
    display: flex;
    background-color: mediumvioletred;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-right: 10px;
}

button{
    width: 50px;
    height: 25px;
    
}

.rodape{
    display: flex;
    background-color: mediumvioletred;
    justify-content: center;
    align-items: center;
    height: 70px;
}

nav{
    background-color: #f2d0e0;
    width: 200px;
    padding: 10px;

}

.botao-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-bolo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 5px darkgray;
}

.foto-do-bolo{
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
}

.nav-main{
    display: flex;
}