body{
    background-color: #000000;

}
h1{
    text-align: center;
    color: #4B0082;
    font: 2em monospace;
}

p{
    text-align: center;
    color: #4B0082;
    font: 1.2em monospace;

    
}

#foto-do-perfil-redonda-e-centralizada{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 58%;
    right: 0;
    left: 0;
    margin: auto;

}

#gif{
    margin: auto;
    display: block;

}

.div-historico{
    background-color: #4B0082;
    color: black;
    font: monospace;
    text-align: left;
    
}

#emoji{
    width: 120px;
    margin-left: 70%;
}
